.App {
  text-align: center;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #003d82;
} 